<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ title }} | Jordan Thornquest</title>
    <meta name="description" content="{{ description }}" / >

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="{{ socialImage }}" />

    <link rel="icon" href="/images/favicon.ico" />
    <link rel="icon" href="/images/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="theme-color" content="#181C21" />

    <style></style>
  </head>

  <body>
    {{ content }}
  </body>
</html>
