/*------------------------------------*\
  # Blog List: Default
\*------------------------------------*/

.blog-list {
  margin-top: 3rem;
}

.blog-list .blog-list-item {
  margin: 0 0 5rem;
}

.blog-list .blog-list-item h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.blog-list .blog-list-item p {
  margin-bottom: 2rem;
}

.blog-list .blog-list-item .blog-image-preview {
  height: 200px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 2rem;
  
  /* lt ie8 */
  -ms-background-position-x: center;
  -ms-background-position-y: bottom;
  background-position: center bottom;

  /* scale bg image proportionately */
  background-size: cover;
    
  /* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
  -ms-behavior: url(/backgroundsize.min.htc);
  /* prevent scaling past src width (or not) */
  /* max-width: 1200px; */
}