/*------------------------------------*\
  # Blog Intro
\*------------------------------------*/

.blog-intro {
  margin-bottom: 4rem;
}

/*------------------------------------*\
  # Blog List: Default
\*------------------------------------*/

.blog-list-item {
  margin-bottom: 3rem;
}

.blog-list-item h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 30px;
  font-size: 3rem;
}

.blog-list-item p {
  margin-bottom: 1rem;
}

/*------------------------------------*\
  # Blog List: Medium & Up
\*------------------------------------*/
