/*------------------------------------*\
  # Core Site Layout
\*------------------------------------*/

body {
  background-color: #000;
  color: #eee;
}

header,
nav,
main,
footer {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 30px;
}

/*------------------------------------*\
  # Site Navigation
\*------------------------------------*/

header {
  padding-top: 30px;
  text-align: center;
}

header img {
  display: block;
  margin: 0 auto 1rem;
  max-width: 100px;
  width: 100%;
}

header small {
  display: inline-block;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 24px;
  font-size: 2.4rem;
}
