/*------------------------------------*\
  # Core Site Layout
\*------------------------------------*/

body {
  background-color: #000;
  color: #eee;
}

header,
main,
footer {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 30px;
}

/*------------------------------------*\
  # Site Navigation
\*------------------------------------*/

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

header img {
  height: 100%;
  margin: 0 auto 0 0;
  max-width: 55px;
  width: 25%;
}

header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  width: 75%;
}

header nav p {
  display: inline-block;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 1rem auto;
  text-align: right;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  margin: 0 0 0 auto;
  max-width: 200px;
  text-align: right;
  width: 100%;
}

header nav ul li {
  margin: 0 auto;
  font-size: 14px;
  font-size: 1.4rem;
  text-align: right;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  text-decoration: underline;
}
