/*------------------------------------*\
  # Core Site Layout
\*------------------------------------*/

html,
body {
margin: 0;
padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #181C21;
  color: #eee;
  min-height: 100%;
  position: relative;
}

header,
section,
footer {
  display: block;
}

img {
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

/*------------------------------------*\
  # Screenreader
\*------------------------------------*/

.sr-only {
  border:0;   
 clip: rect(1px, 1px, 1px, 1px); 
 clip-path: inset(50%);
 height: 1px; 
 margin: -1px;
 width: 1px; 
 overflow: hidden; 
 position: absolute !important;
 word-wrap:normal !important;
}

/*------------------------------------*\
  # Site Navigation: Default
\*------------------------------------*/

header {
  background-color: #32393A;
  padding: 15px 0;
}

header .header-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 15px;
}

header .header-content img {
  margin: 0;
  max-width: 55px;
  width: 100%;
}

header .header-content nav p {
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: right;
  padding: 0;
}

header .header-content nav ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
  text-align: right;
}

header .header-content nav ul li {
  margin: 0 0 0 2rem;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: right;
}

header .header-content nav ul li:first-child {
  margin-left: 0;
}

/*------------------------------------*\
  # Site Footer: Default
\*------------------------------------*/

footer {
  background-color: #32393A;
  padding: 15px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

footer p {
  font-style: italic;
  margin: 0 auto;
  max-width: 600px;
}