/*------------------------------------*\
  # Home Content: Defaults
\*------------------------------------*/

.home-list-item ul,
.first-impressions ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.home-list-item ul li,
.first-impressions ul li {
  font-size: 24px;
  font-size: 2.4rem;
  margin-right: 2rem;
}

.home-list-item ul li:last-child,
.first-impressions ul li:last-child {
  margin-right: 0;
}

/*------------------------------------*\
  # First Impressions: Default
\*------------------------------------*/

.first-impressions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


.first-impressions .writing,
.first-impressions .music,
.first-impressions .social {
  flex-basis: 100%;
}

.first-impressions h2 {
  flex-basis: 100%;
}

.first-impressions h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-size: 1.8rem;
}

.first-impressions ul {
  margin-bottom: 2rem;
}

.first-impressions ul li {
  margin-bottom: 0;
}

/*------------------------------------*\
  # First Impressions: Medium & Up
\*------------------------------------*/

@media (min-width: 768px) {
  .first-impressions .music,
  .first-impressions .social {
    flex-basis: 45%;
  }

  .first-impressions .music {
    align-self: flex-start;
  }

  .first-impressions .social {
    align-self: flex-end;
  }
}

/*------------------------------------*\
  # Home List: Default
\*------------------------------------*/

.current-projects h2 {
  margin-bottom: 3.5rem;
}

.home-list-item {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.home-list-item img {
  margin: 0 0 3rem;
  max-width: 300px;
  width: 100%;
}

.home-list-item section {
  padding: 0;
  width: 100%;
}

.home-list-item h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 20px;
  font-size: 2rem;
}

.home-list-item p {
  margin-bottom: 1rem;
}

/*------------------------------------*\
  # Home List: Medium & Up
\*------------------------------------*/

@media (min-width: 500px) {
  .home-list-item {
    flex-wrap: nowrap;
  }

  .home-list-item img {
    width: 25%;
  }

  .home-list-item section {
    padding-left: 30px;
    width: auto;
  }
}
