/*------------------------------------*\
  # Blog Content
\*------------------------------------*/

h1 {
  font-size: 40px;
  font-size: 4rem;
  margin: 0 0 2rem;
}

time {
  display: inline-block;
  font-size: 90%;
  margin-bottom: 2rem auto;
  max-width: auto;
  text-transform: uppercase;
}

figure {
  margin: 3rem 0;
}

figure img {
  margin-bottom: 1rem;
}

figure figcaption {
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
  margin: 0 auto;
  max-width: 600px;
}