/*------------------------------------*\
  # Blog Content
\*------------------------------------*/

figure {
  margin: 0 0 2rem;
}

figure img {
  margin-bottom: 1rem;
}

figure figcaption {
  font-size: 16px;
  font-size: 1.6rem;
  font-style: italic;
}