/*------------------------------------*\
  # Blog Content
\*------------------------------------*/

h1 {
  font-size: 40px;
  font-size: 4rem;
  margin: 0 0 2rem;
}

small {
  display: inline-block;
  font-size: 90%;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

figure {
  margin: 3rem 0;
}

figure img {
  margin-bottom: 1rem;
}

figure figcaption {
  font-size: 16px;
  font-size: 1.6rem;
  font-style: italic;
}