<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {%- if page.url == "/" -%}
    <title>Jordan Thornquest</title>
    <meta property="og:title" content="Jordan Thornquest" />
    {%- else -%}
    <title>{{ title }} | Jordan Thornquest</title>
    <meta property="og:title" content="{{ title }} | Jordan Thornquest" />
    {%- endif -%}

    <meta name="description" content="{{ description }}" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ pageFullUrl }}" />
    <meta property="og:image" content="{{ socialImage }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#000000" />
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <meta name="msapplication-TileColor" content="#F75E3C" />
    <meta name="theme-color" content="#F75E3C" />

    <!-- CSS -->
    <link href="styles.css" rel="stylesheet" />
  </head>

  <body>
    {{ content }}
  </body>
</html>
