/*------------------------------------*\
  # Font Families
\*------------------------------------*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dd,
dt,
blockquote,
strong,
em,
p {
  font-family: 'Merriweather', serif;
}

/*------------------------------------*\
  # Headings
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/*------------------------------------*\
  # Paragraphs
\*------------------------------------*/

p {
  font-weight: 400;
}
