<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8">
    <title>Jordan Thornquest</title>
    <meta name="description" content="Idaho musician Jordan Thornquest maps his mindstate with theatrical relish, producing a form of punk-informed power pop that's both candidly introspective and fearlessly extroverted.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <meta property="og:title" content="Jordan Thornquest">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jordanthornquest.com">
    <meta property="og:image" content="https://res.cloudinary.com/deedobzcr/image/upload/q_auto,f_auto,w_1200/v1559763975/hurr.jpg">
  
    {# <link rel="manifest" href="site.webmanifest"> #}
    {# <link rel="apple-touch-icon" href="icon.png"> #}
    {# Place favicon.ico in the root directory #}
  
    <meta name="theme-color" content="#181C21">
  </head>
  
  <body>
    {{ content | safe }}
  </body>

</html>