/*------------------------------------*\
  # REM, Baby
\*------------------------------------*/

html {
    font-size: 62.5%;
}

body {

    font-size: 1.4rem;
}

/*------------------------------------*\
  # Font Families
\*------------------------------------*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dd,
dt,
blockquote,
strong,
em,
p {
  font-family: 'Merriweather', serif;
}

/*------------------------------------*\
  # Headings
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 15px;
}

h1 {
  font-size: 30px;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  line-height: 4rem;
}

h2 {
  font-size: 25px;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 3rem;
}

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 3rem;
}

/*------------------------------------*\
  # Headings: Medium & Up
\*------------------------------------*/

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    font-size: 4rem;
    line-height: 5rem;
  }
  
  h2 {
    font-size: 30px;
    font-size: 3rem;
    line-height: 4rem;
  }
}

/*------------------------------------*\
  # Paragraphs
\*------------------------------------*/

p,
em,
strong,
time {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.75rem;
}

p,
time {
  font-weight: 400;
  margin: 0 auto 2rem;
  max-width: 600px;
  padding: 0 15px;
}

.paragraph-lead {
  font-size: 20px;
  font-size: 2rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

time {
  display: block;
  font-size: 90%;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/*------------------------------------*\
  # Anchors
\*------------------------------------*/

a,
a:visited,
a:hover,
a:active {
  color: #52ABF1;
  display: block;
  margin: 0 auto 2rem;
  max-width: 600px;
  padding: 0 15px;
}

p > a,
p > a:visited,
p > a:hover,
p > a:active {
  display: inline-block;
  margin: 0;
  max-width: auto;
  padding: 0;
}

/*------------------------------------*\
  # Lists
\*------------------------------------*/

ul,
li {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  list-style-position: outside;
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 0;
}

ul {
  margin-left: 0;
  margin-right: 0;
  max-width: 600px;
  padding: 0 15px;
}

li {
  margin-bottom: 1rem;
}

li:last-child {
  margin-bottom: 0;
}
