---
layout: foundation
---

<main>
  <section class="home-intro">
    <img alt="A photo of me in my least favorite apartment." class="lazyload" data-src="https://res.cloudinary.com/deedobzcr/image/upload/q_auto,f_auto,w_1200/v1559763975/hurr.jpg"/>
    <h1>How goes it?</h1>
    <p>I'm Jordan, a musician &amp; producer from Idaho. I've been creating music and helping others do the same for 10 years. I'm probably:</p>
    <ul>
      <li>Working on my next record, <em>Chaotic Fearful!</em></li>
      <li>Playing guitar in bands with my friends</li>
      <li>Recording &amp; mixing records at Neighborhood Sounds, a collaborative project in Twin Falls, Idaho</li>
      <li>Moving into a van to live on the road in 2020</li>
    </ul>
    <h2>In someone else's words</h2>
    <p>Idaho musician Jordan Thornquest maps his mindstate with theatrical relish, producing a form of punk-informed power pop that’s both candidly introspective and fearlessly extroverted. Though his vocal curlicues resemble those of Destroyer’s Dan Bejar, he’s rarely cryptic, singing about his hopes, fears, desires, and hang-ups with a panache that’s just a little bit perverse. Thornquest’s first EP, the five-track Late Bloomer, debuted in December 2017 and explores “themes of self-worth and relationships,” including with his beloved corgi Jess, over beefy power-trio arrangements.</p> 
    <p>Thornquest was born and raised in Twin Falls, a town he threatens to burn on “The Happiest Man in Town;” luckily, he found a less destructive solution to his small-town woes, and he now lives and works in Boise. He has two EPs and an album planned for 2020.</p>
    <p><em>Words by <a href="https://danielbromfield.com">Daniel Bromfield</a>.</em></p>
  </section>
  {{ content }}
</main>
