---
layout: foundation
---

<main>
  <section class="home-intro">
    <img alt="A photo of me, taken by Daniel Veley." class="lazyload" data-src="https://res.cloudinary.com/deedobzcr/image/upload/q_auto,f_auto,w_1200/v1559761710/BF4D2D2E-5FF0-4F0C-9A77-E0641041DC01.jpg"/>
    <h1>Howdy.</h1>
    <p>I'm Jordan, a musician &amp; producer from Boise, Idaho. I've been creating music for 8 years, and I'm also dabbling in digital art &amp; podcasting. I write reviews and commentaries about creative works that interest me, and share them on my blog.</p>
  </section>
  {{ content }}
</main>
