---
layout: foundation
---

<main>
  <section class="home-intro">
    <img alt="A photo of me, taken by Daniel Veley." class="lazyload" data-src="https://res.cloudinary.com/deedobzcr/image/upload/q_auto,f_auto,w_1200/v1552526002/F5827911-862F-45D2-8486-D1058F447AD8.jpg"/>
    <h1>Hey, there. This is a dev test.</h1>
    <p>I'm Jordan, a musician &amp; producer from Boise, Idaho. I've been creating music for 8 years, and I'm also dabbling in digital art &amp; podcasting. I write reviews and commentaries about creative works that interest me: you'll be able to read those writings on this site, eventually.</p>
  </section>
  {{ content }}
</main>
